body {
  background: #fafaf9;
  font-family: sans-serif;
}
 
h2 {
  color: #adf309;
}
 
.login {
  padding: 20px 40 px;
  margin: 100px auto;
  width: 300px;
  background: #f7890c;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba (0, 0, 0, 1);
}

label {
  font-size: 10pt;
  color: #e2fa0a;
}
 
input[type="text"],
input[type="password"],
textarea {
  padding: 8px;
  width: 95%;
  background: #fdfdfc;
  border: 0;
  font-size: 10pt;
  margin: 6px 0px;
}
 
.tombol {
  background: #06aaeb;
  color: #fff;
  border: 0;
  padding: 5px 8px;
  margin: 20px 0px;
}
